<div class="col navbar-add">
  <a (click)="goToPage('Create')" class="navbar-brand">
      <div class="add-button">
              <div class="row fixed-btn" style="justify-content: normal">
                  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="white" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                      <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  </svg>
                  <h2 class="add-title">Add plate</h2>
              </div>
      </div>
  </a>
</div>
<h1 class="title">All car plates, stored in database: </h1>
<div class="container-fluid table-container">
  <app-table></app-table>
</div>