.delete-button {
  width: 20%;
  border: solid;
  border-radius: 10px;
  background-color: lightcoral;
}
.edit-button {
  background-color: cadetblue;
    border: solid;
    border-radius: 10px;
    width: 25%;
}
table {
    width: 100%;
}
.table-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  border: solid red;
  border-radius: 25px;
  border-width: 2px;
  width: 90%;  
}