.navbar {
    background-color: #112d4e;
    padding: 5px 30px;
}
.navbar-img {
    padding-top: 27px;
}
.navbar-row {
    padding: '2%';
}
.navbar-title {
    font-size: 4rem;
    color: #dbe2ef;
}


